@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body {
    font-family: 'Outift', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    height: 100vh;
    margin: 0;
    padding: .5rem;
}

.fa-heart{
    color: red;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}

.container{
    height: 600px;
    width: 450px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.container > i{
    position: absolute;
    transform: translate(-50%, -50%) scale(0);
    animation: grow 0.6s ease-in-out;
}

@keyframes grow {
    to{
        transform: translate(-50%, -50%) scale(10);
        opacity: 0;
    }
}

@media (max-width: 500px) {
    .container{
        width: 400px;
    }
}

@media (max-width: 440px) {
    .container {
        width: 340px;
    }
}

@media (max-height: 600px){
    body{
        justify-content: flex-start;
    }

    .container{
        height: 80%;
    }
}